<form action="/SingIn/Registr" method="POST">
    <label for="FN">Имя</label>
    <div class="row">
        <input type="text" name="FirstName" required class="form-control col-md-2 input-group" id="FN" placeholder="Введите имя">
        
    </div>
    <br>
    <label for="LN">Фамилия</label>
    <div class="row">
        <input type="text" name="LastName" required class="form-control col-md-2 input-group" id="LN" placeholder="Введите фамилию">
        
    </div>
    <br>
    <label for="L">Логин</label>
    <div class="row">
        <input type="text" name="Login" required class="form-control col-md-2 input-group" id="L" placeholder="Введите логин">
        
    </div>
    <br>
    <label for="P">Пароль</label>
    <div class="row">
        <input type="password" name="Password" required class="form-control col-md-2 input-group" id="P" placeholder="Введите пароль">
        
    </div>
    <br>
    <label for="CP">Подтверждение пароля</label>
    <div class="row">
        <input type="password" name="ConfirmPassword" required class="form-control col-md-2 input-group" id="CP" placeholder="Подтвердите пароль">
    </div>
    <br>
    <label for="BD">Дата рождения</label>
        <input type="date" name="BirthDate" class="row form-control col-md-2 input-group" id="BD">
    <br>
    <input type="submit" class="row btn btn-secondary text-dark" value="Зарегистрироваться">
</form>