<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: silver;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="navbar-collapse collapse container">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="NoSingIn" asp-action="Index">Книги</a>
                        </li>
                        @if(ViewBag.User != null && ViewBag.User.RoleId != 1){
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Applications">Мои заявки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="MyBooks">Мои книги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Settings">Настройки профиля</a>
                            </li>
                        }
                        @if(ViewBag.User != null && ViewBag.User.RoleId == 1){
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AddBook">Добавить</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Users">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AddBook">Заявки</a>
                            </li>
                        }
                    </ul>
                </div>
                @if(ViewBag.User != null && ViewBag.User.RoleId != 1)
                {
                    <form class="form-inline" action="/User/Index" method="POST">
                        <input type="text" class="form-control" name="AuthorAndTitle" placeholder="Автор/Название книги">
                        <input type="submit" class="ml-1 btn btn-secondary text-dark" value="Поиск">
                    </form>
                    <a class="btn btn-secondary text-dark">Выход</a>
                }
                else if(ViewBag.User == null)
                {
                    <form class="form-inline" action="/NoSingIn/Index" method="POST">
                        <input type="text" class="form-control" name="AuthorAndTitle" placeholder="Автор/Название книги">
                        <input type="submit" class="ml-1 btn btn-secondary text-dark" value="Поиск">
                    </form>
                        <a class="btn btn-secondary text-dark ml-2" asp-controller="NoSingIn" asp-action="LogIn">Войти</a>
                }
                else
                {
                    <form class="form-inline" action="/Admin/Index" method="POST">
                        <input type="text" class="form-control" name="AuthorAndTitle" placeholder="Автор/Название книги">
                        <input type="submit" class="ml-1 btn btn-secondary text-dark" value="Поиск">
                    </form>
                    <a asp-controller="NoSingIn" asp-action="Index" class="btn btn-secondary text-dark ml-2">Выйти</a>
                }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2020 - Library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
